BETTER_AUTH_SECRET=example
BETTER_AUTH_URL=http://localhost:3000

DATABASE_URL=

SUPABASE_URL=
SUPABASE_ANON_KEY=

OPENAI_API_KEY=
AI_MODEL=

NEXT_PUBLIC_API_URL=

TRIGGER_SECRET_KEY=
TRIGGER_PROJECT_ID=

SENTRY_ORG=
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=

SECRET_KEY=
